*,::after,::before{
    box-sizing: border-box;
    margin:0;
    padding:0
}
h3{
    margin-bottom: 5rem;
}
body{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app{
    margin:20px auto;
    width:400px;
    text-align: center;
}

input{
    padding:15px;
    width:15rem;
    margin:0 10px 0 0;
    outline-color: black;
}

button{
    padding:15px 30px;
    background-color: black;
    color: white;
    border:none;
}
button:hover{
    color:black;
    background-color: #ddd;
    border:1px solid black;
}

li{
    list-style: none;
}

.addForm{
    margin-bottom: 20px;
    display:flex;
    justify-content: space-between;
}

.item{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}